<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />

</head>
<body>
    @*Header part html start*@
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <a href="/HomeIndex/Home"><img src="~/images/ZeroHunger.png" alt="Alternate Text" /></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logout">
                        <p href="#" style=" text-align: right; margin-top: 26px; font-size: 20px; color:seagreen;">
                            <a href="/HomeIndex/Logout" style="text-align: right; margin-top: 2px; font-size: 18px; color:seagreen; padding:0 20px;">Logout</a>
                            <a href="/HomeIndex/AProfiles" style="text-align: right; margin-top: 2px; font-size: 18px; color:seagreen; padding:0 20px;">Profile</a>
                            <a href="/HomeIndex/Order" style="text-align: right; margin-top: 2px; font-size: 18px; color:seagreen; padding:0 20px;"> Order </a>
                            <a href="/HomeIndex/RiInfo" style="text-align: right; margin-top: 2px; font-size: 18px; color:seagreen; padding:0 20px;">Rider</a>
                            <a href="/HomeIndex/RaInfo" style="text-align: right; margin-top: 2px; font-size: 18px; color:seagreen; padding:0 20px;"> Resturant </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <hr />
            <p> &copy;Copyrights are provided by Hasib @DateTime.Now.Year</p>
        </div>
    </footer>
</body>
</html>
